<img src="assets/img/piso13.png" width="125" alt="">
    
    
    <div class="container w-75 bg mt-5 rounded shadow"> 
        <div class="row align-items-stretch">
            <div class=""></div>
            <div class="p-5 rounded-end">
                <div class="row"> 
                    <div class="container-fluid">
                        <div class="row" id="map_section">
                            <div class="col-20">
                                
                                <div class="container">
                                    <div class="row">
                                        <h3>Ya casi terminamos</h3>
                                        <h6>Selecciona los mails que quieres tener con tu dominio</h6>
                                      <div class="col"> <br>
                                        
                                        <div class="container">
                                            <div class="row">
                                              <div class="col">
                                                <div class="input-group input-group-sm mb-3">
                                                    
                                                    <input type="text" class="form-control" placeholder="Mail" aria-label="First name">

                                                  </div>
                                                  <div class="input-group input-group-sm mb-3">
                                                    
                                                    <input type="text" class="form-control" placeholder="Contraseña" aria-label="First name">

                                                  </div>
                                                  <div class="input-group input-group-sm mb-3">
                                                    
                                                    <input type="text" class="form-control" placeholder="Confirmar contraseña" aria-label="First name">

                                                  </div>
                                              </div>
                                              <div class="col">
                                                <div class="input-group input-group-sm mb-3">
                                                    
                                                    <input type="text" class="form-control" placeholder="Mail" aria-label="First name">

                                                  </div>
                                                  <div class="input-group input-group-sm mb-3">
                                                    
                                                    <input type="text" class="form-control" placeholder="Contraseña" aria-label="First name">

                                                  </div>
                                                  <div class="input-group input-group-sm mb-3">
                                                    
                                                    <input type="text" class="form-control" placeholder="Confirmar contraseña" aria-label="First name">

                                                  </div>
                                              </div>
                                              <div class="container"> <br>
                                                <div class="row">
                                                  <div class="col">
                                                    <button type="button" class="btn btn-outline-primary" routerLink="/">Guardar y continuar despues</button>
                                                  </div>
                                                  <div class="col">
                                                    <button type="button" class="btn btn-outline-primary" (click)="importantinformation()">Continuar</button>
                                                </div>
                                            </div>
                                             </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                 </div>
                </div>
            </div>
        </div>    