<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <img src="assets/img/piso13.png" width="125" alt="">
    <div class="container"> 
        <br>
        <h1>Registrate</h1> 
        <br>
        <h4>Estas a un paso de estrenar tu pagina web con el plan de arrendamiento web</h4>
    </div>
    <form action="">
    <div class="container w-75 bg mt-5 rounded shadow"> 
        <div class="row align-items-stretch">
            <div class=""></div>
            <div class="p-5 rounded-end">
                <div class="row"> 
                    <div class="container-fluid">
                        <div class="row" id="map_section">
                            <div class="col-20">
                                <div class="container">
                                    <div class="row">
                                      <div class="col">
                                        <label for="text" class="form-label">Nombre</label>
                                        <input type="text" class="form-control" name="text">

                                        <label for="date" class="form-label">Fecha de Nacimiento</label>
                                        <input type="date" class="form-control" name="date">

                                        <label for="email" class="form-label">Correo Electronico</label>
                                        <input type="email" class="form-control" name="email">

                                        <label for="password" class="form-label">Contraseña</label>
                                        <input type="password" class="form-control" name="password"> <br>
                                        <div class="card">
                                            <div class="card-body">
                                              I'm not a robot                                              
                                            </div> 
                                          </div> <br>
                                          <button type="button" class="btn btn-outline-primary" routerLink="/mainpage">SIGUIENTE</button>
                                      </div>

                                      

                                      <div class="col">
                                        <label for="text" class="form-label">Apellido Paterno</label>
                                        <input type="text" class="form-control" name="text">

                                        <label for="text" class="form-label">Nacionalidad</label>
                                        <input type="text" class="form-control" name="text">

                                        <label for="number" class="form-label">Movil</label>
                                        <input type="number" class="form-control" name="number">

                                        <label for="password" class="form-label">Verificar contraseña</label>
                                        <input type="password" class="form-control" name="password"> <br>
                                        <div class="card" style="width: 18rem;">
                                            <div class="card-header">
                                              La contraseña debe tener:
                                            </div>
                                            <ul class="list-group list-group-flush">
                                              <li class="list-group-item">Minimo de 8 caracteres</li>
                                              <li class="list-group-item">1 letra mayuscula</li>
                                              <li class="list-group-item">1 caracter especial (@ , # , $)</li>
                                              <li class="list-group-item">1 numero</li>
                                            </ul>
                                          </div>
                                      </div>
                                      

                                      <div class="col">
                                        <label for="text" class="form-label">Apellido Materno</label>
                                        <input type="text" class="form-control" name="text">
                                      </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>    
                </div>
            </div>
        </div>
    </div>
</form>
</body>
</html>
