<img src="assets/img/piso13.png" width="125" alt=""> 
    <div class="container"> 
        <br>
        <h1>Informacion de contacto de tu empresa para la seccion de contacto</h1> 
        <br>
    </div>
    <form action="">
        <div class="container w-75 bg mt-5 rounded shadow"> 
            <div class="row align-items-stretch">
                <div class=""></div>
                <div class="p-5 rounded-end">
                    <div class="row"> 
                        <div class="container-fluid">
                            <div class="row" id="map_section">
                                <div class="col-20">
                                    <div class="container">
                                        <div class="row">
                                          <div class="col">
                                            <div class="row">
                                                <div class="container">
                                                    <div class="row">
                                                      <div class="col">
                                                        <label for="text" class="form-label">WhatsApp</label>
                                                        <input type="text" class="form-control" name="text">
                                                      </div>
                                                      <div class="col">
                                                        <label for="text" class="form-label">Telefono 1</label>
                                                        <input type="text" class="form-control" name="text">
                                                      </div>
                                                      <div class="col">
                                                        <label for="text" class="form-label">Telefono 2</label>
                                                        <input type="text" class="form-control" name="text">
                                                    </div>
                                                </div>
                                                <div class="col"> <br>
                                                    <h6>Mail de contacto</h6>
                                                    <p>Puede ser de los que vamos a hacer o alguno que ya tengas de gmail o hotmail. Ese correo nadie lo va a ver</p>
                                                    <input type="text" class="form-control" name="text">
                                                  </div>
                                                  <div class="col"> <br>
                                                    <h6>Mail al que vamos a mandar informacion del formulario del contacto</h6>
                                                    <p>Ese correo nadie lo va a ver. Alli recibiras informacion del sitio web</p>
                                                    <p>Puede ser de lo que vamos a hacer o alguno que ya tengas de gmail o hotmail</p>
                                                    <input type="text" class="form-control" name="text">
                                                </div> <br>
                                                <h6>Dirección</h6>
                                                <div class="container">
                                                    <div class="row">
                                                      <div class="col">
                                                        <label for="text" class="form-label">Codigo postal</label>
                                                        <input type="text" class="form-control" name="text">
                                                        
                                                        <label for="text" class="form-label">Estado</label>
                                                        <input type="text" class="form-control" name="text">

                                                        <label for="text" class="form-label">Colonia</label>
                                                        <input type="text" class="form-control" name="text">

                                                        <label for="text" class="form-label">No.Exterior</label>
                                                        <input type="text" class="form-control" name="text">
                                                      </div>
                                                      <div class="col">
                                                        <label for="text" class="form-label">Ciudad</label>
                                                        <input type="text" class="form-control" name="text">

                                                        <label for="text" class="form-label">Alcaldia</label>
                                                        <input type="text" class="form-control" name="text">

                                                        <label for="text" class="form-label">Calle</label>
                                                        <input type="text" class="form-control" name="text">

                                                        <label for="text" class="form-label">No.Interior</label> 
                                                        <input type="text" class="form-control" name="text">
                                                      </div> 
                                                 </div> <br>
                                                 <h6>Quiero mapa de mi empresa en el sitio</h6> 
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                                    <label class="form-check-label" for="defaultCheck1">
                                                      Si
                                                    </label>
                                                  </div>
                                                  <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                                    <label class="form-check-label" for="defaultCheck1">
                                                      No
                                                    </label>
                                                  </div>
                                                </div>
                                                <div class="container"> <br>
                                                    <div class="row">
                                                      <div class="col">
                                                        <button type="button" class="btn btn-outline-primary" routerLink="/">Guardar y continuar despues</button>
                                                      </div>
                                                      <div class="col">
                                                        <button type="button" class="btn btn-outline-primary" routerLink="/mainpage">Continuar</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
