<img src="assets/img/piso13.png" width="125" alt="">
<div class="container"> 
    <br>
    <h1>Escoge el diseño que mas se acomode a tus necesidades</h1> 
    <br>
    <h4>Selecciona el tema de tu interes</h4>
    
    <div class="container">
        <div class="row">
          <div class="col">
            Column
          </div>
          <div class="col">
            Column
          </div>
          <div class="col">
            Column
          </div>
          <div class="col">
            Column
          </div>
          <div class="col">
            Column
          </div>
        </div>
      </div>