<img src="assets/img/piso13.png" width="125" alt="">
<div class="container"> 
    <br>
    <h1>Añade la siguiente informacion para tu sitio web</h1> 
    <p>Compartenos la informacion adecuada para tu sitio</p>
    <p>Nosotros nos encargamos del resto</p>
</div>
<form action="">
    <div class="container w-75 bg mt-5 rounded shadow"> 
        <div class="row align-items-stretch">
            <div class=""></div>
            <div class="p-5 rounded-end">
                <div class="row"> 
                    <div class="container-fluid">
                        <div class="row" id="map_section">
                            <div class="col-20">
                                <div class="container">
                                    <div class="row">
                                      <div class="col">
                                        <div class="row">
                                            <div class="col">
                                                <h6>Danos una breve descripcion para tu empresa</h6>
                                                <div class="mb-3">
                                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                                </div>
                                                <h6>¿Que es lo que hace a tu empresa diferente y/o mejor que la competencia?</h6>
                                                <div class="mb-3">
                                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                                </div>
                                                <h6>Enlista las opciones a desarrollar. De la mas importante a la menos importante, enfocate en temas y subtemas.</h6>
                                                <h6>Esto nos ayudara a organizar la informacion (mapa del sitio)</h6>
                                                <div class="mb-3">
                                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                                </div>
                                                <h6>Enlista los productos o servicios y pon una leve descripcion de cada uno</h6>
                                                <div class="mb-3">
                                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                                </div>
                                                <h6>Existe contenido adicional al sitio para presentar la organizacion?</h6>
                                                <h6>(PDF's , fotos, videos, diagramas, textos, etc)</h6>
                                                <div class="mb-3">
                                                    <input class="form-control" type="file" id="formFileMultiple" multiple>
                                                    <p>*Solo archivos PDF, PNG, JPG o GIF*</p>
                                                    <p>*Maximo 550k. nosotros lo comprimimos para la web</p>
                                                </div>
                                                <h6>¿Que quieres que haga la audiencia cuando ingrese a tu sitio web?</h6>
                                                <h6>(Resolver cuestionarios, contacto, leer articulos, ver servicios)</h6>
                                                <div class="mb-3">
                                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                                </div>
                                                <h6>¿Cuales son los Call to action que quieres resaltar en la pagina de inicio?</h6>
                                                <h6>(Ejemplo:"Mas de 60 años de experiencia", "Somos los primeros en___")</h6>
                                                <div class="mb-3">
                                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                                </div>
                                                <h6>Enlista algunas cosas que consideres que puedan ayudar para el diseño del sitio</h6>
                                                <div class="mb-3">
                                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                                </div>
                                                <h6>Quiero blog en el sitio</h6> 
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                                    <label class="form-check-label" for="defaultCheck1">
                                                      Si
                                                    </label>
                                                  </div>
                                                  <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                                    <label class="form-check-label" for="defaultCheck1">
                                                      No
                                                    </label>
                                                  </div>
                                                  <div class="mb-3">
                                                    <input class="form-control" type="file" id="formFileMultiple" multiple>
                                                    <p>*Solo archivos .doc*</p>
                                                </div>
                                                <div class="mb-3">
                                                    <input class="form-control" type="file" id="formFileMultiple" multiple>
                                                    <p>*Solo archivos PDF, PNG, JPG o GIF*</p>
                                                    <p>*Maximo 550k. nosotros lo comprimimos para la web</p>
                                                </div>
                                                <h6>Si necesitas alguna pagina adicional o algo muy especifico, compartenos la información</h6>
                                                <div class="mb-3">
                                                    <input type="text" placeholder="Nombre de la pagina" class="form-control" name="text">
                                                </div>
                                                <div class="mb-3">
                                                    <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Texto de la pagina" rows="2"></textarea>
                                                </div>
                                                <div class="mb-3">
                                                    <input class="form-control" type="file" id="formFileMultiple" multiple>
                                                    <p>*Solo archivos PDF, PNG, JPG o GIF*</p>
                                                    <p>*Maximo 550k. nosotros lo comprimimos para la web</p>
                                                    
                                                </div>
                                                <div class="container">
                                                    <div class="row">
                                                      <div class="col">
                                                        <button type="button" class="btn btn-outline-primary" routerLink="/">Guardar y continuar despues</button>
                                                      </div>
                                                      <div class="col">
                                                        <button type="button" class="btn btn-outline-primary" routerLink="/mainpage">Continuar</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
