<img src="assets/img/piso13.png" width="125" alt=""> 
    <div class="container"> 
        <br>
        <h1>Redes sociales</h1> 
        <br>
        <h6>Selecciona las redes sociales que maneja tu empresa</h6>
    </div>
<form action="">
    <div class="container w-75 bg mt-5 rounded shadow"> 
        <div class="row align-items-stretch">
            <div class=""></div>
            <div class="p-5 rounded-end">
                <div class="row"> 
                    <div class="container-fluid">
                        <div class="row" id="map_section">
                            <div class="col-20">
                                <div class="container">
                                    <div class="row">
                                      <div class="col">
                                        <div class="row">
                                            <div class="col">
                                                <div class="container">
                                                    <div class="row">
                                                      <div class="col">
                                                        <div class="form-check"> 
                                                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                                            <label class="form-check-label" for="flexCheckDefault">
                                                              Facebook
                                                              <input type="text" placeholder="link o URL">
                                                            </label>
                                                          </div>
                                                          <div class="form-check"> <br>
                                                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                                            <label class="form-check-label" for="flexCheckDefault">
                                                              Instagram 
                                                              <input type="text" placeholder="link o URL">
                                                            </label>
                                                          </div>
                                                          <div class="form-check"> <br>
                                                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                                            <label class="form-check-label" for="flexCheckDefault"> 
                                                              Twitter
                                                              <input type="text" placeholder="link o URL">
                                                            </label>
                                                          </div>
                                                          <div class="form-check"> <br>
                                                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                                            <label class="form-check-label" for="flexCheckDefault">
                                                              Youtube
                                                              <input type="text" placeholder="link o URL">
                                                            </label>
                                                          </div>
                                                          <div class="form-check"> <br>
                                                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                                            <label class="form-check-label" for="flexCheckDefault">
                                                              Linkedin
                                                              <input type="text" placeholder="link o URL">
                                                            </label>
                                                          </div>
                                                          <div class="form-check"> <br>
                                                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                                            <label class="form-check-label" for="flexCheckDefault">
                                                              Tiktok
                                                              <input type="text" placeholder="link o URL">
                                                            </label>
                                                          </div>
                                                          <div class="form-check"> <br>
                                                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                                            <label class="form-check-label" for="flexCheckDefault">
                                                              Otra
                                                              <input type="text" placeholder="link o URL">
                                                            </label>
                                                          </div>
                                                          <div class="container"> <br>
                                                            <div class="row">
                                                              <div class="col">
                                                                <button type="button" class="btn btn-outline-primary" routerLink="/">Guardar y continuar despues</button>
                                                              </div>
                                                              <div class="col">
                                                                <button type="button" class="btn btn-outline-primary" (click)="almostfinish()">Continuar</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                      </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                      </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>