<app-navbar></app-navbar>
<div class="container">
    <form action="">
        <div class="container w-75 bg mt-5 rounded shadow">
            <div class="row align-items-stretch">
                <div class=""></div>
                <div class="p-5 rounded-end">
                    <div class="row">
                        <div class="container-fluid">
                            <div class="row" id="map_section">
                                <div class="col-20">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col">
                                                <h1>EDITAR PERFIL</h1>
                                                <label for="text" class="form-label">Nombre</label>
                                                <input type="text" class="form-control" name="text">
                                                <div class="container"> <br>
                                                    <div class="row">
                                                        <div class="col">
                                                            <label for="text" class="form-label">Apellido Paterno</label>
                                                            <input type="text" class="form-control" name="text">
                                                        </div>
                                                        <div class="col">
                                                            <label for="text" class="form-label">Apellido Materno</label>
                                                            <input type="text" class="form-control" name="text">
                                                        </div>
                                                        <div class="container"> <br>
                                                            <div class="row">
                                                                <div class="col"> 
                                                                    <label for="text" class="form-label">Movil</label>
                                                                    <input type="text" class="form-control" name="text">
                                                                    <br>
                                                                    <button type="button" class="btn btn-outline-primary">Actualizar</button>  
                                                                </div> 
                                                                <h1>CAMBIAR CONTRASEÑA</h1>
                                                                <form>
                                                                    <div class="row mb-3">
                                                                      <label for="inputEmail3" class="col-sm-2 col-form-label">Nueva contraseña</label>
                                                                      <div class="col-sm-10">
                                                                        <input type="email" class="form-control" id="inputEmail3">
                                                                      </div>
                                                                    </div>
                                                                    <div class="row mb-3">
                                                                      <label for="inputPassword3" class="col-sm-2 col-form-label">Confirmar contraseña</label>
                                                                      <div class="col-sm-10">
                                                                        <input type="password" class="form-control" id="inputPassword3">
                                                                        
                                                                      </div>
                                                                    </div>
                                                                </form>
                                                                <p>Ingresa tu contraseña actual para validar los cambios</p>
                                                                <div class="row mb-3">
                                                                    <label for="inputEmail3" class="col-sm-2 col-form-label">Contraseña</label>
                                                                    <div class="col-sm-10">
                                                                      <input type="email" class="form-control" id="inputEmail3">
                                                                    </div>
                                                                  </div>
                                                                  <h2>Doble factor de autentificación</h2>
                                                                  <h6>Con este metodo tendras una capa extra de seguridad por medio de un codigo que te enviaremos</h6>
                                                                  <h6>por correo electronico</h6>
                                                                  <div class="form-check form-switch">
                                                                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                                                                    <label class="form-check-label" for="flexSwitchCheckDefault">Activar</label>
                                                                    
                                                                  </div>
                                                                  
                                                            </div> <br>
                                                            <button type="button" class="btn btn-outline-primary" (click)="subscriptioncancel()">Cancelar subscripción</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>