<img src="assets/img/piso13.png" width="125" alt="">
    <div class="container"> 
        <br>
        <h1>Informacion importante</h1>         
        <form action="">
            <div class="container w-75 bg mt-5 rounded shadow"> 
                <div class="row align-items-stretch">
                    <div class=""></div>
                    <div class="p-5 rounded-end">
                        <div class="row"> 
                            <div class="container-fluid">
                                <div class="row" id="map_section">
                                    <div class="col-20">
                                        <div class="container">
                                            <div class="row">
                                              <div class="col">
                                                <h6>Codigo de Google Analytics</h6>
                                                <p>Si necesitas ayuda para conseguirlo, Sigue estos pasos</p>
                                                <div class="mb-3">
                                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                                        <label class="form-check-label" for="flexRadioDefault1">
                                                          Subir despues
                                                        </label>
                                                    </div>
                                                      
                                                </div>
                                              </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                  <h6>Terminos y Condiciones</h6>
                                                  <p>Si todavia no tienes cuenta y quieres usar un generico, puedes descargar aqui nuestro template y adaptarlo.</p>
                                                  <p>Despues copialo y pegalo en el siguiente recuadro</p>
                                                  <div class="mb-3">
                                                      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>   
                                                 </div>
                                                </div>
                                              </div>
                                              <div class="row">
                                                <div class="col">
                                                  <h6>Aviso de privacidad</h6>
                                                  <p>Si todavia no tienes cuenta y quieres usar un generico, puedes descargar aqui nuestro template y adaptarlo.</p>
                                                  <p>Despues copialo y pegalo en el siguiente recuadro</p>
                                                  <div class="mb-3">
                                                      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>   
                                                 </div>
                                                </div>
                                                <div class="container"> <br>
                                                    <div class="row">
                                                      <div class="col">
                                                        <button type="button" class="btn btn-outline-primary" routerLink="/">Guardar y continuar despues</button>
                                                      </div>
                                                      <div class="col">
                                                        <button type="button" class="btn btn-outline-primary">Continuar</button>
                                                    </div>
                                                </div>
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        


        